main{
    padding: 0 0 100px 0;
}

#parallax {
    background-image: url("../imgs/landing-ecoboleto/25068.jpg");
    height: 100%;
    /* Crea el efecto parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax2 {
    background-image: url("../imgs/landing-ecoboleto/19858.jpg");
    height: 100%;
    /* Crea el efecto parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax .efecto-parallax, #parallax2 .efecto-parallax {
    height: 300px;
}

#parallas .info-equipo{
    height: 90px;
    width: 300px;
    background-color: #FFF;
   
}

.info-equipo p{

    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.info-equipo h1{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
section .efecto-parallax {
    height: 700px;
}

#valores{
    display: flow-root;
}
#valores .card-integante{

    margin-top: 30px;
    margin-left: 7.5%;
    margin-right: 5%;
    background: #A3DE83;
    width: 20%;
    height: 400px;
    float: left;
    box-shadow: 2px 3px 4px #ced6e0;
}

.icon-integrante{
    margin-top: 20px;
    margin-left: 25px;
    height: 190px;
    width: 220px;
    border-radius: 10px;
}

.card-integante .blanco-a--tipografia{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 80px;
}

.card-integante{
    display: flow-root;
}
.card-integante .lista-destrezas{

    margin-left: 25px;
    float: left;
    color: #FFF;
    font-size: 18px;
}

.card-integante .rol{

    color: #FFF;
    text-align: center;
}