main {
  padding: 0;
}

#inicio {
  background-image: url("../imgs/landing-ecoboleto/evento-ecoboleto.jpg");
}

.parallax {
  height: 100%;
  /* Crea el efecto parallax */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#inicio .efecto-parallax {
  height: 400px;
}

#banner {
  position: relative;
}

#banner h2 {
  position: absolute;
  font-size: 50px;
  right: 10%;
  top: 40%;
  text-shadow: 0px 0px 20px #FA4659;
}

#banner h4 {
  font-family: 'Roboto-italica', 'Helvetica', Arial, sans-serif;
  font-style: italic;
  font-size: 24px;
  position: absolute;
  right: 10%;
  bottom: 40%;
  text-shadow: 0px 0px 20px #FA4659;
}

#definicionEcoboleto {
  background-color: #A3DE83;
  padding: 4% 0;
}

.boleto {
  font-size: 250px;
  box-sizing: border-box;
  margin-left: 10%;
}

.queEs {
  width: 50%;
  color: #FFF;
  box-sizing: border-box;
  padding: 5% 0 0 20%;
}

.queEs h1 {
  margin-bottom: 6%;
}

.queEs p {
  font-size: 18px;
  line-height: 26px;
}

#quePodesHacer {
  background-color: #2EB872;
  padding: 5% 0 6% 0;
}

#quePodesHacer h2 {
  margin-bottom: 4%;
  color: #fff;
  font-size: 2em;
}

#quePodesHacer div {
  margin-left: 6%;
}

.iconos {
  width: 90px;
  padding: 20px;
  font-size: 4.5em;
  color: #fff;
  border-radius: 50%;
  margin-left: 30% !important;
}

#quePodesHacer div p {
  margin: 20px;
  width: 300px;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  font-size: 1.1em;
  line-height: 25px;
}

#compannia div {
  width: 50%;
}

#compannia div:last-child img{
  width: 80%;
}

#anuncio div:first-child img {
  width: 100%;
}

#compannia div:first-child {
  padding: 8% 10% 0 10%;
  box-sizing: border-box;
}

#anuncio div:first-child {
  width: 50%;
}

#anuncio div:last-child {
  width: 50%;
}

.gmnoprint, .gm-style-cc {
  display: none;
}

.localizacion {
  padding: 5% 8%;
  box-sizing: border-box;
}

#ubicacion {
  width: 100%;
}

#mapa {
  padding-left: 47% !important;
}

#divisor {
  background: #2EB872;
  width: 80%;
  height: 2px;
  margin: 0 auto 5% auto;
}