section {
    width: 90%;
    display: flow-root;
    margin: 50px auto 0 auto;
}

.card{
    width: 31%;
    height: 600px;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto 30px auto;
}

.imgcont{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.img{
    width: 100%;
    height: 100%;
}

.nombre{
    text-align: center;
    font-size: 50px;
    line-height: 56px;
    font-weight: bold;
    color: #2EB872;
    margin-bottom: 10px;
}

.fecha{
    text-align: center;
    color: #333;
    margin-bottom: 5px;
    font-size: 15px;

}

.recinto{
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #2EB872;
}

.precio{
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    font-size: 25px;
    font-weight: bold;
}



