header #cajon-superior a{
    padding: 15px;
}

#cajon-superior .blanco-a--tipografia:hover {
    color: #FFF;
}

header #cajon-inferior{
    padding: 5px 40px;
}

.logo{
    width: 150px;
}

.acomodo-c-inferior{
    padding: 30px 0;
}

.menu a{
    margin-right: 50px;
    font-size: 20px;
    line-height: 24px;
}

header #cajon-inferior nav{
    padding-top: 5px;
}

header #cajon-inferior form div{
    position: relative;
}

header #cajon-inferior form div input{
    padding: 4px;
    margin-right: 50px;
}

header #cajon-inferior form div button{
    position: absolute;
    margin-top: -22px;
    right: 60px;
    background: transparent;
}

header #carrito{
    font-size: 30px;
    display: inline;
}