#main{
    min-height: 383px;
}

tr{
    border: 1px solid #2f3640;
    width: 200px;
    text-align: center;
}

th{
    border: 1px solid #2f3640;
    width: 200px;
    text-align: center;
    background: #2EB872;
    color: #fff;
    font-size: 20px;
}

tbody{
        border: 1px solid #2f3640;
        width: 200px;
        text-align: center;
}

td{
        border: 1px solid #2f3640;
        width: 200px;
        text-align: center;
        width: 200px;
}

h1{
    margin-bottom: 50px;
}

#tbl_descuentos tbody td{
    padding: 10px 15px;
    width: 50px !important;
}
.info{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
}

.filtro{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.filtro label {
    margin-right: 15px;
}
.tabla{
    flex-direction: column;
    align-items: center;
    display: flex;
}
#tbl_descuentos{
    width: 100%;
}
i{
    color:#309662;
}
#id-form{
    display: flex;
    padding: 21px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border:1px solid #2EB872;
}
.class-inpt-porcentaje{
    border:1px solid red;
}
.class-inpt-nombre{
    border:1px solid red;
}
#id-form label{
    display: inline-block;
    margin: 11px 0px;
    width: 200px;

}
#id-form input{
    margin: 11px 0px;
    width: 250px;
}
#id-form button{
    margin-top: 5px;
    background:#a3de83 ;
    border:'none';
    border-radius: 25px;
    color: white;
}
#id-form button:hover{
    color: white;
    background: #2EB872;

}

.acomodo-c-inferior {
    width: 85%;
}