.tabla{
    width: 100%;
    text-align: center;
}

table{
    width: 80%;
    margin: 0 auto;
}

tr, tbody, td, th{
    border: 1px solid #2f3640;
}

th{
    background: #2EB872;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    display: table-cell;
	vertical-align: middle;
}

td{
    font-size: 14px;
    display: table-cell;
	vertical-align: middle;
}

td, th{
    padding: 7px;
}

tr:hover{
    background-color: #A3DE83;
}

.filtro{
    width: 300px;
    margin-top: 40px;
}

.filtro label{
    margin-right: 25px;
}

.filtro input{
    margin-right: 20px;
}

.logo-empresas{
    width: 100%;
}

.verde-oscuro-a--tipografia:hover{
    color: #FEFFE4;
}

.acomodo-c-inferior {
    width: 85%;
}

.filtros{
    width: 58%;
    margin: 0 auto 40px auto;
}

.filtros input[type="radio"]{
    margin-right: 4px;
}

.filtro button {
    padding: 6px 10px;
    margin-top: -5px;
}

.modificar{
    border: none;
    background-color: transparent;
    margin: 0 auto;
    cursor: pointer;
}

#filtro{
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.datos-filtrar{
    font-size: 15px;
    line-height: 18px;
}