#main {
    width: 100%;
}

#main h1 {
    margin-bottom: 50px;
}

#main .contenedor {
    width: 500px;
    margin: 0 auto;
}

#main form {
    width: 450px;
}

#main form div {
    margin-bottom: 20px;
}

#main div:nth-child(3) p{
    margin-bottom: 10px;
}

#main div:nth-child(3) div input[type='radio']{
    margin: 0 10px 0 20px;
}


#main form div input {
    margin-left: 50px;
    padding: 8px 5px;
}

#main div:nth-child(3) div:nth-child(3) input{
    margin: -15px 0 0 25px;
}

#ubicationForm{
    padding-top: 15px;
}

#provincias, #cantones, #distritos{
    padding: 10px 20px;
}

#provincias{
    margin-left: 145px;
}

#cantones, #distritos{
    margin-left: 160px;
}

#txt_nombre_comercial{
    margin-left: 75px !important;
}

#txt_annos_experiencia{
    margin-left: 63px !important;
}

#txt_direccion_exacta{
    margin-left: 91px !important;
}

#contacto_asociado{
    margin: 50px 0 30px 0;
}

#txt_nombre_completo{
    margin-left: 80px !important;
}

#txt_correo_electronico{
    margin-left: 78px !important;
}

#txt_fecha_de_nacimiento{
    margin-left: 61px !important;
    width: 170px;
    text-align: center;
}

#txt_edad{
    margin-left: 185px !important;
}

.edad{
    padding: 8px 76px;
    font-size: 12px;
    line-height: 16px;
}

.edad_numero{
    padding: 8px 83px !important;
}

#txt_telefono{
    margin-left: 148px !important;
    margin-bottom: 30px;
}

#genero_contenedor p{
    margin-bottom: 20px;
}

select option {
    text-align: center;
}

#main form button {
    width: 60%;
    padding: 12px 0;
    margin: 0 auto;
}

#main .foto-tarjeta--cajon {
    margin-top: 40px;
    margin-left: -50px;
}

.img-holder {
    width: 200px;
}

.img-holder>img {
    width: 100%;
    margin-top: 20px;
}

main figure {
    width: 80%;
    margin: 0 auto;
}

#btn_registrar{
    font-size: 16px;
}

.acomodo-c-inferior {
    width: 85%;
}