#main{
    height: 343px;
}

header{
    margin-bottom: 40px;
}

#main h1{
    margin-bottom: 50px;
}

#main form{
    width: 400px;
    margin: 0 auto;
}

#main form div{
    margin-bottom: 50px;
}

#main form div input{
    margin-left: 50px;
    padding: 8px 5px;
}

#main form button{
    width: 40%;
    padding: 12px 0;
    margin: 0 auto;
}

.blanco-a--tipografia{
    margin-left: 40px;
}