#main h1{
    margin-bottom: 50px;
}

#main form{
    width: 450px;
    margin: 0 auto;
}

#main form div{
    margin-bottom: 20px;
}

#main form div input{
    margin-left: 50px;
    padding: 8px 5px;
}

#main form div:nth-child(3) label{
    margin-right: 37px;
}

#main form div:nth-child(3) select{
    margin-right: 37px;
    box-sizing: border-box;
    padding: 5px 10px;
}

#main form div:nth-child(3) select:first-child{
    width: 10%;
    padding: 5px 20px;
}

#main form div:nth-child(3) select:last-child{
    width: 17%;
}

select option{
    text-align: center;
}

#main form div:nth-child(4) input{
    width: 12%;
    margin: 0 0 50px 30px;
}

#main form button{
    width: 40%;
    padding: 12px 0;
    margin: 0 auto;
}