.acomodo-c-inferior {
    width: 85%;
}

#main h1 {
    margin-bottom: 50px;
}

#main form {
    width: 40%;
    margin: 0 auto;
}

#main form > div {
    margin: 10px;
}

#main form > div > div{
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

#main form  div  div div{
    margin: 5px;
}


#main form .lista-telefono li {
    cursor: pointer;
    position: relative;
    padding: 5px 8px;
    background: #eee;
    user-select: none;
}


#main form .lista-telefono li:nth-child(odd) {
    background: #f9f9f9;
}


#main form .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 8px;    
}

#main form .close:hover {
    background: #A3DE83;
    color: #333;
}

#main form .telefonos > div{
    display: flex;
}

#main form button {
    width: 60%;
    padding: 12px 0;
    margin: 0 auto;
}

#main form div input {
    padding: 8px 5px;
}

#main form div label {
   margin-bottom: 10px;
   text-align: center;
}

.lista-telefonos{
    margin-top: 50px;
    min-height: 100px;
}

button{
    width: 50% !important;
}

.boton-agregar{
    width: 35% !important;
    margin-bottom: 20px !important;
}